---
import '../styles/global.css';
import Main from '../layouts/main.astro';
import DanielsPhoto from '/public/images/daniels.jpg';
import { Button } from '../components/ui/button';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<Main>
		<section>
			<div class="flex flex-col sm:flex-row gap-x-0 md:gap-x-8 lg:gap-x-16 pt-4 md:pt-8 lg:pt-16">
			  <article>
				<h1 class="mb-1 text-2xl font-semibold tracking-tighter">
				  Daniel Soliman
				</h1>
				<h4 class="mb-4 text-base text-neutral-700">Construction Planner and Front End Engineer</h4>
				<p class="mb-4">
				  Hi I’m Daniel — a construction planner and tech enthusiast with 20+
				  years of experience. I was the scheduler at the Marlins Ballpark, Brickelly City Centre, LAX, and other condos, hospitals, and airports. I believe the key
				  to a successful project is understanding priorities and how the plan works in a constantly changing environement.
				</p>
				<p class="mb-4">
				  I'm currently the co-founder of{" "}
				  <a
					class="underline"
					href="https://www.planflow.io"
					target="_blank"
					rel="noopener"
				  >
					Planflow</a>, a construction operations platform that helps construction teams
				  execute on schedule, improve productivity, and finish early.
				</p>
				<p class="mb-4">
				  I also work at{" "}
				  <a
					class="underline"
					href="https://www.robinsmorton.com"
					target="_blank"
					rel="noopener noreferrer"
				  >Robins & Morton</a>, an ENR100 healthcare general contractor, where I manage multiple
				  projects, train Superintendents on CPM scheduling, administer
				  Primevara and develop internal tools like{" "}
				  <a
					class="underline"
					href="https://robinsmorton.gitbook.io/timetable-figjam"
					target="_blank"
					rel="noopener"
				  >
					TimeTable FigJam
				  </a>
				  ,{" "}
				  <a
					class="underline"
					href="https://help.timetable.app/"
					target="_blank"
					rel="noopener"
				  >
					TimeTable Visio
				  </a>
				  ,{" "}
				  <a
					class="underline"
					href="https://www.ctrlwiz.com"
					target="_blank"
					rel="noopener"
				  >
					CtrlWiz
				  </a>
				  , and other internal operations tools.
				</p>
				<p class="mb-4">
				  I enjoy writing about construction, technology, and productivity. I
				  love to learn how to best leverage AI to create applications that
				  help construction teams work smarter, not harder. I also enjoy
				  learning about the latest trends in construction technology and how
				  they can be applied to improve project outcomes.
				</p>
				<div class="my-8">
				  <!-- <BlogPosts /> -->
				</div>
			  </article>
			  <div class="flex flex-col items-center justify-center w-full gap-4 md:gap-8">
				<figure class="py-0.5 shrink-0">
				<img
				  class="rounded-full w-32 h-32 md:w-48 md:h-48"
				  src={DanielsPhoto.src}
				  alt="photo of Daniel Soliman"
				  loading="lazy"
				/></figure>
			  <Button variant={'social'}><a href="/cv_daniel_soliman.pdf" target="_blank">View my CV</a></Button>
			</div>
			</div>
		  </section>
	</Main>
</html>
