---
import '../styles/global.css';
import Main from '../layouts/main.astro';
import BaseHead from '../components/BaseHead.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<Main />

	<body>
		<div class="grid place-items-center h-screen content-center">
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		</div>
	</body>
</html>
