---
import { Button } from "@/components/ui/button"
---
<div>
    <h4 class="font-semibold text-2xl mb-5">Like what you see?</h4>
<div class="grid grid-cols-2 gap-4">
    <div>
    <h6 class="font-semibold text-2xl mb-5">Follow</h4>
    <Button variant="brand" onClick={() => window.open('https://www.linkedin.com', '_blank')}>
        Linkedin
    </Button>
</div>
<div>
    <h6 class="font-semibold text-2xl mb-5">Share</h6>
        <div class="flex gap-4">
    <Button variant="secondary" onClick={() => window.open('https://www.linkedin.com', '_blank')}>
        Linkedin
    </Button>  
    <Button variant="secondary" onClick={() => window.open('https://www.linkedin.com', '_blank')}>
        Twitter
    </Button>
    </div>
</div>
</div>
